<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#164136" />

    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="./favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <!-- <script src="https://use.fontawesome.com/b070c8f1df.js"></script> -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous" />
    <title>Restaurant-Apps</title>
  </head>
  <body>
    <a href="#content" class="skip-link">go to content </a>
    <header>
      <app-bar></app-bar>
      <app-hero></app-hero>
    </header>

    <!-- Content -->
    <main>
      <div id="content" tabindex="0">
        <section>
          <h1><span class="title-content">Explore Restaurant</span></h1>
        </section>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <app-footer></app-footer>
    </footer>
  </body>
</html>
